<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.com.suvideoselector">

    <application>
        <activity
            android:name="su.com.suvideoselector.SelectVideoPanelActivity"
            android:theme="@style/MyWindowNoTitle" />
    </application>

</manifest>